@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

/*basic reset*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 76.5%;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  padding: 1rem 0;
  width: 960px;
}

p {
  margin: 0.75rem 0 0;
}

h1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
button {
  border: 0 none;
  outline: 0 none;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
}


/*--------------- GENERAL STYLE -----------*/


/*--------------- GALLERY STYLE -----------*/

#msform {
  width: 100%;
  margin: 30px auto;
  position: relative;
}

#mydfktitle {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0.8%;
}

#tagphoto {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1.8%;
}

.add-photo {
  width: 18%;
  background-color: #00a100;
  color: #fff;
  padding: 11px 13px;
  border: 3px solid #00a100;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  font-weight: 550;
  border-radius: 1px;
  margin-left: 41%;
}

.add-photo:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #00a100;
}

* {
  box-sizing: border-box;
}

#instagram-logo{
  font-size: 20px;
}

#facebook-logo{
  font-size: 20px;
}


/*---------------- GALLERY LAYOUT ----------------*/

.popup-gallery {
  width: 100%;
}


/* Create four equal columns that floats next to each other */

.column {
  float: left;
  padding: 10px;
  background-color: white;
  /* Should be removed. Only for demonstration */
  margin-left: 1%;
}

.column img {
  width: 220px;
  height: 200px;
}


/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.gallery-item {
  width: 210px;
  height: 200px;
  float: left;
  padding: 0px;
}

.gallery-item img:hover {
  opacity: 0.6;
  border: 3px solid #00a100;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.modal {
  margin: 0 auto 28px auto;
}

.modal-open {
  margin: 0 auto;
  overflow: auto;
} 

#modal-image {
    width: 100%;
    max-height: 445px;
    min-height: 445px;
}  

.modal-image-caption {
  text-transform: capitalize;
}

.modal-dialog{
  width: 65%;
  margin: 17% auto;
}

.first-product,{
  width: 100%;
  float: left;
}

.second-product,
.third-product,
.fourth-product,
.fifth-product{
  width: 100%;
  float: left;
  margin-top: 5%;
}

#product-number{
  width: 13%;
  float: left;
  margin-top: 5%;
}

#product-details{
  width: 62%;
  float: left;
}

#product-image{
  width: 23%;
  float: right;
  margin-top: 2%;

}

#label-link:hover{
  color: #00a100;
  text-decoration: underline;
  font-weight: 800;
}

#rounded-number{
  background-color: #ffef40;
  color: black;
  font-size: 16px;
  font-weight: 800;
  border-radius: 50%;
  padding: 4px 10px;
}
.modal-open {
  overflow: hidden
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0
}

.modal-dialog {
    position: relative;
    margin: 0 auto;
    margin-top: 8%;
    width: 65%;
    min-height: 445px;
    max-height: 445px;
    background-color: white;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0)
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0)
}

.modal-backdrop.in {
  opacity: .5;
  filter: alpha(opacity=50)
}

.container{
      width: 100%;
    margin-top: 8%;
}

.modal-left {
        float: left;
    width: 60%;
    box-sizing: border-box;
}

.modal-right {
     
    min-height: 400px;
    width: 40%;
    float: right;
    margin-right: -15px;
    margin-top: 1%;
  
}

.close{
  background-color: white;
  color: #b8b8b8;
  margin-top: 0.5%;
  float: right;
  font-size: 19px;
  margin-right: 1%;
}

.close:hover{
  background-color: white;
  color: #00a100;
  border-bottom: 1px solid #00a100;
  
  transition: 0.3s ease;
}


#picture-description{
  
    width: 100%;
    float: left;
    margin-left: -80%;
    margin-top: 17%;
}
.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
  margin-left: 5px;
  margin-bottom: 0
}

.modal-footer .btn-group .btn+.btn {
  margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
  margin-left: 0
}

/*@media (min-width:768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
  }
  .modal-sm {
    width: 300px
  }
}*/

/*@media (min-width:992px) {
  .modal-lg {
    width: 900px
  }
}*/

.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table
}

.modal-footer:after {
  clear: both
}

.fade {
  opacity: 1;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear
}



.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto
}
