@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

/*basic reset*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 76.5%;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  padding: 1rem 0;
  width: 960px;
}

p {
  margin: 0.75rem 0 0;
}

h1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
button {
  border: 0 none;
  outline: 0 none;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
}


/*--------------- GENERAL STYLE -----------*/


/*--------------- GALLERY STYLE -----------*/

#msform {
  width: 100%;
  margin: 30px auto;
  position: relative;
}

#mydfktitle {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0.8%;
}

#tagphoto {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1.8%;
}

.add-photo {
  width: 18%;
  background-color: #00a100;
  color: #fff;
  padding: 11px 13px;
  border: 3px solid #00a100;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  font-weight: 550;
  border-radius: 1px;
  margin-left: 41%;
}

.add-photo:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #00a100;
}

* {
  box-sizing: border-box;
}


/*---------------- GALLERY LAYOUT ----------------*/

.popup-gallery {
  width: 100%;
}


/* Create four equal columns that floats next to each other */

.column {
  float: left;
  padding: 10px;
  background-color: white;
  /* Should be removed. Only for demonstration */
  margin-left: 1%;
}

.column img {
  width: 220px;
  height: 200px;
}


/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.gallery-item {
  width: 210px;
  height: 200px;
  float: left;
  padding: 0px;
}

.gallery-item img:hover {
  opacity: 0.6;
  border: 3px solid #00a100;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}